<article class="{{post.post_class}}">
    {% block content %}
        {% if is_archive %}
            <h1><a href="{{post.get_path}}">{{post.title}}</a></h1>
            <p>{{post.excerpt}}</p>
        {% else %}
        <header>
            {% if title is not defined %}
            <h1>
                {% if is_archive %}<a href="{{post.get_path}}">{% endif %}
                    {{post.title}}
                {% if is_archive %}</a>{% endif %}
            </h1>
            {% endif %}
        </header>
            {{post.content}}
        {% endif %}
    {% endblock %}
</article>