<article class="{{post.post_class}}{% if is_archive %} project-preview{% endif %}">
    {% block content %}
        {% if is_archive %}
            {% if post.thumbnail.src %}
                <a href="{{post.link}}"><img src="{{post.thumbnail.src|resize(1000,300)}}" alt="{{post.thumbnail.alt | default(post.thumbnail.post_title)}}" class="project-preview__image"></a>
            {% endif %}
            <h1 class="project-preview__title"><a href="{{post.link}}">{{post.title}}</a></h1>
            <p>{{post.get_preview()}}</p>
        {% else %}
            <header class="single-project__header{% if post.thumbnail.src %} has-bgimg{% endif %}" style="background-image: url({{post.thumbnail.src|resize(1920)}});">
                {% if not title %}
                <h1>{{post.title}}</h1>
                {% endif %}
            </header>
            <div class="single-project__content">
                {{post.content}}
            </div>
            {% if contributors %}
                <footer class="single-project__contributors">
                    <h3 class="contibutors-list__title">Contributors</h3>
                    <ul class="contributors-list">
                        {% for contributor in contributors %}
                            <li class="contributor-list__contibutor"><a href="{{fn('get_author_posts_url', contributor.data.ID)}}">{{contributor.data.display_name}}</a></li>
                        {% endfor %}
                    </ul>
                </footer>
            {% endif %}
        {% endif %}
    {% endblock %}
</article>