<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{language_attributes}}> <!--<![endif]-->
{% include 'partials/head.twig' %}

    <body class="{{body_class}}">

        <header class="main-header" id="main-header" role='banner'>
            <div class="main-header__inner">
                <h1 class="main-title">
                    <a href="{{bloginfo('url')}}" rel="home">
                        {% if logo %}
                            <img src="{{logo.src}}" alt="{{bloginfo('name')}}">
                        {% else %}
                            {{bloginfo('name')}}
                        {% endif %}
                    </a>
                </h1>
            </div>
            {% include 'partials/nav.twig' with { 'nav_class': 'main-nav', 'menu': main_menu } %}
            <div class="nav-social">
                {{fn('the_dev_profile_links')}}
            </div>
        </header>

        <div class="main-wrapper" id="main-wrapper">

            <a class="nav-toggle icon-th-menu" id="nav-toggle" href="#tp-nav-main-nav">Menu</a>

            <div class="main-content-sidebar-wrap">
                {% block header %}
                {% endblock %}

                <main role="main" class="main-content {% if not main_sidebar %}main-content--full-width{% endif %}">
                    {% if title %}
                        <header class="article-title content-section block" role="heading">
                            <h1 class="posttitle p-name">{{title}}</h1>
                        </header>
                    {% endif %}
                    <div class="wrapper">
                        {% block content %}
                        Sorry, no content
                        {% endblock %}
                        {% block after_content %}
                            {% if pagination %}
                                {% include 'partials/pagination.twig' %}
                            {% endif %}
                        {% endblock %}
                    </div>
                </main>

                {% if main_sidebar %}
                    <aside class="main-aside {{sidebar_class}}">
                        {{main_sidebar}}
                    </aside>
                {% endif %}
            </div>

            <footer class="main-footer content-section">
                <div class="main-footer__inner">
                    {% include 'partials/nav.twig' with { 'nav_class': 'main-footer__nav', 'menu': footer_menu } %}
                </div>
            </footer>
            {# {% if makerspace_open %}
                <div class="space-status-notification" id="space-status-notification">
                    <span class="space-status-notification__text">Dundee MakerSpace is open!</span>
                    <button class="space-status-notification__close" id="space-status-notification__close">x</button>
                </div>
            {% endif %} #}
        </div>
        {{wp_footer}}
    </body>
</html>
