{% extends "base.twig" %}

{% block content %}
    {% if post.home_banner_title or post.home_banner_content %}
        <section class="home-banner content-section">
            <div class="home-banner__inner content-section__content">
                {% if post.home_banner_title %}
                    <h2 class="home-banner__title">{{post.home_banner_title}}</h2>
                {% endif %}
                {% if post.home_banner_content %}
                    <p class="home-banner__content">{{post.get_field('home_banner_content')}}</p>
                {% endif %}
            </div>
        </section>
    {% endif %}

    <section class="home-widgets">
        {% if next_events %}
            <div class="widget home-widgets__widget">
                <h1 class="widgettitle home-widgets__widget__title">Upcoming Events</h1>
                {% for event in next_events %}
                    <a href="{{event.link}}" class="home__widgets__event">
                        <h3>{{event.title}}</h3>
                        <time datetime="{{event._EventStartDate}}">{{event._EventStartDate|date("l jS F Y @ g:ia")}}</time>
                        {% if event.post_excerpt %}
                            <p>{{event.post_excerpt}}</p>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        {{widgets}}
    </section>


{% endblock %}
